body{
	background-color: #ffffff;
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

.header{
	overflow: hidden;
	background-color: #d45555;
	line-height: 10px;
}

.header > h1{
	font-family: "Oswald", sans-serif;
	font-size: 60px;
	color: #ffffff;
	padding-left: 15px;
}

.header > h3{
	font-family: 'Montserrat';
	font-size: 25px;
	color: #2f3b78;
	padding-left: 20px;
}

.search-box{
	position: absolute;
	top: 17px;
	right: 17px;
}

ul{
	font-family: 'Oswald';
	list-style-type: none;
	margin: 0px;
	padding-left: 10px;
	overflow: hidden;
	font-size: 20px;
	background-color: #d45555;
}

ul > a{
	display: inline-grid;
	padding: 15px 25px 15px 25px;
	margin-right: 5px;
	float: left;
	border-radius: 10px;
	border-style: solid;
	border-color: #2f3b78;
	background-color: #ffffff;
	color: #2f3b78;
}

ul > a:hover{
	border-color: #ffffff;
	background-color: #2f3b78;
	color: #ffffff;
}

#current{
	display: inline-grid;
	padding: 15px 25px 15px 25px;
	margin-right: 5px;
	float: left;
	border-radius: 10px 10px 0 0;
	border-style: solid;
	border-color: #2f3b78 #2f3b78 #dddddd #2f3b78;
	background-color: #dddddd;
	color: #2f3b66;
}

#current:hover{
	border-color: #dddddd;
	background-color: #2f3b78;
	color: #ffffff;
}

h2{
	font-family: "trebuchet ms";
	font-size: 80px;
	color: #2f3b66;
	padding: 10px 0px 10px 350px;
	margin: 0;
	background-color: #dddddd;
}

.explore{
	display: flex;
}

.explore > ul{
	width: 24%;
	height: 605px;
	padding: 0 0 0 10px;
	background-color: #dddddd;
}

.side-tabs{
	float: right;
	height: 60px;
	width: 95%;
	border-width: 3px;
	border-style: double;
	border-color: #ffc849;
	background-color: #d45555;
	text-align: right;
	color: #ffffff;
	font-size: 22px;
	cursor: pointer;
	margin-bottom: 3px;
}

.side-tabs:hover{
	background-color: #ffffff;
	color: #d45555;
}

.side-tabs.active{
	background-color: #ffffff;
	color: #d45555;
	border-color: #ffc849 #ffffff #ffc849 #ffc849;
}

.subPage{
	display: none;
	height: 600px;
	width: 76%;
	padding-left: 40px;
	position: static;
	border-color: #ffc849 #ffc849 #ffc849 #ffffff;
	border-style: double;
	border-width: 3px;
  float: left;
  font-size: 30px;
	color: #2f3b66;
}

#random{
	display: block;
}

.show{
	display: block;
	background-color: #ffffff;
}
