@charset "UTF-8";
/* CSS Document */

body{
	background-color: #ffffff;
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

.header{
	overflow: hidden;
	background-color: #d45555;
	line-height: 10px;
}

.header > h1{
	font-family: "Oswald", sans-serif;
	font-size: 60px;
	color: #ffffff;
	padding-left: 15px;
}

.header > h3{
	font-family: 'Montserrat';
	font-size: 25px;
	color: #2f3b78;
	padding-left: 20px;
}

.search-box{
	position: absolute;
	top: 17px;
	right: 17px;
}

ul{
	font-family: 'Oswald';
	list-style-type: none;
	margin: 0px;
	padding-left: 10px;
	overflow: hidden;
	font-size: 20px;
	background-color: #d45555;
}

ul > a{
	display: inline-grid;
	padding: 15px 25px 15px 25px;
	margin-right: 5px;
	float: left;
	border-radius: 10px;
	border-style: solid;
	border-color: #2f3b78;
	background-color: #ffffff;
	color: #2f3b78;
}

ul > a:hover{
	border-color: #ffffff;
	background-color: #2f3b78;
	color: #ffffff;
}

#current{
	display: inline-grid;
	padding: 15px 25px 15px 25px;
	margin-right: 5px;
	float: left;
	border-radius: 10px 10px 0 0;
	border-style: solid;
	border-color: #2f3b78 #2f3b78 #ffffff #2f3b78;
	background-color: #ffffff;
	color: #2f3b66;
}

#current:hover{
	border-color: #ffffff;
	background-color: #2f3b78;
	color: #ffffff;
}

* {
  	box-sizing: border-box;
}

/* Create three equal columns that float next to each other */
.column {
	float: left;
	width: 33%;
	padding: 30px;
	padding-left: 30px;
	padding-right: 30px;
	height: 250px;
	margin: 5px 2px;
	background-color: #dddddd;
	font-family: "trebuchet ms";
	text-align: center;
	color: #c44c44;
	border-radius: .5px;
	border-style: solid;
	border-width: 2px;
	border-color: #d45555;
	transition: 0.3s background-image;
	overflow: hidden;
}

#analyze {
		background-image : url("analyze.jpg");
		background-position: top;
		background-blend-mode: hard-light;
}

#create {
		background-image : url("datapic.jpg");
		background-position: top;
		background-blend-mode: hard-light;
}

#explore {
		background-image : url("explore.jpg");
		background-position: top;
		background-size: contain;
		background-blend-mode: hard-light;
}

.column > h2 {
	display: inline-block;
	font-size: 65px;
	padding-bottom: 15px;
}

.column > p {
	color: #ffffff;
	font-size: 25px;
}

.column:hover{

	/** change color of text when hovered**/
	color: #ffffff;

	/**what length bars change to**/
	height: 400px;
	transition: .3s;
	}

#analyze:hover{
	background: #d45555;
}
#create:hover{
	background: #d45555;
}
#explore:hover{
	background: #d45555;
}

/* Clear floats after the columns */
.row:after {
  	content: "";
  	display: table;
 	clear: both;
}
