<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Will it Fund?|Create</title>
<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
<link rel = "stylesheet" type = "text/css"
href ="{{ url_for('static', filename='AboutPage.css') }}" />
</head>

<body>
	<div class="header">

		<h1><a href="http://perlman.mathcs.carleton.edu:5222/">WILL IT FUND?</a></h1>
		<h3>Kickstarting Your Kickstarter</h3>

		<div class = "search-box">
			<input type = "text" class = "input" placeholder= "Search...">
			</div>

    <div class="tabs">
      <ul id="nav">
        <a href="http://perlman.mathcs.carleton.edu:5222/">Home</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/analyze/">Analyze the Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/create/">Create and Compare Your Kickstarter</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/explore/">Explore Curated Project Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/aboutpage/" id="current">About</a>
      </ul>
    </div>
		<!--menu-->
	</div>

<!--About Page Text-->
<article>
	<h1>About our site</h1>

	<img src="kickstarter.png" alt="Kickstarter logo" width="300" height="93">

	<p>This site is designed for those who are, for one reason or another, intrigued by Kickstarter, to learn about what factors—goals, time period, type of project, etc—result in failed or successful Kickstarter projects. Our goal is to help you learn about trends among Kickstarter projects, and if you have a project vision, to help you see how similar projects have performed historically.  Whether you are a curious user, a crowdfunding enthusiast, or an entrepreneur, we welcome you; this site has something for everyone. </p>

	<p>The <a href="https://www.kaggle.com/kemical/kickstarter-projects">dataset</a>  we use contains over 300,000 Kickstarter projects dating up until 2018. The data is sorted into individual projects with a variety of attributes. These include things like the project name, the category (i.e. Film & Video, Music, Food), the start date and deadlines, the number of backers, and other important statistics. We have slighty modified the original dataset to make it easier to implement on the website.</p>

	<p>The dataset is classified as Attribution-NonCommercial-ShareAlike 4.0 International (CC BY-NC-SA 4.0). We are able to copy and redistribute the material in any format, as well as remix, transform, and build upon the material under the following terms: we give appropriate credit, provide a link to the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">license</a>, and indicate if any changes were made.</p>
	</article>

</body>
</html>
