<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Analyze the Data</title>
<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
<link rel = "stylesheet"
   type = "text/css"
   href = "{{ url_for('static', filename='Analyze.css') }}" />
</head>

<body>

	<div class="header">

		<h1><a href="http://perlman.mathcs.carleton.edu:5222/">WILL IT FUND?</a></h1>
		<h3>Kickstarting Your Kickstarter</h3>

    <div class="tabs">
      <ul id="nav">
        <a href="http://perlman.mathcs.carleton.edu:5222/">Home</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/analyze/" id="current">Analyze the Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/create/">Create and Compare Your Kickstarter</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/explore/">Explore Curated Project Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/aboutpage/">About</a>
      </ul>
    </div>
		<!--menu-->
	</div>
	<!--header-->

	<h3>Analyze the Data</h3>
	<p>Compare Kickstarter data by using the drop down menus to generate a graph. In the current version, you can specify whether you want the graph to be organized as a histogram of total counts or as a stacked bar plot showing proportions, as well choose a category by which to sort the data.</p>
	<p>If you are comparing yearly data, please note that our dataset was collected before 2018 was complete. As a result, the count of 2018 projects will be much lower than others.</p>


  <form action="/countgraph/" method="post">
    </div>
      <!--The box where you select what counts you want to compare-->
    <div>
      <label for="comparecounts">Compare total counts of projects by:</label>
      <select id="comparecounts" name="comparecounts">
        <option value="main_category">Project Category</option>
        <option value="currency">Currency</option>
        <option value="country">Country</option>
        <option value="projectyear">Year</option>
      </select>
    <!--End of options-->
    </div>

    <br>

    <div class="button">
      <button type="submit">Create graph</button>
    </div>

    </form>

    <form action="/proportiongraph/" method="post">
      <!--The box where you select what you want to compare-->
      <div>
        <label for="compareproportion">Compare how successful projects are based on:</label>
        <select id="compareproportion" name="compareproportion">
          <option value="main_category">Project Category</option>
          <option value="currency">Currency</option>
          <option value="country">Country</option>
          <option value="projectyear">Year</option>
        </select>
      <!--End of options-->
      </div>

      <br>

      <div class="button">
        <button type="submit">Create graph</button>
      </div>

      </form>

      <form action="/averagesgraph/" method="post">
        <!--The box where you select what you want to compare-->
        <div>
          <label for="averagecompare">Compare:</label>
          <select id="averagecompare" name="averagecompare">
            <option value="backers">Number of backers</option>
            <option value="usd_goal_real">Project Goal</option>
            <option value="usd_pledged_real">Amount pledged for the project</option>
            <option value="total_days">Days</option>
          </select>
        <!--End of options-->
        </div>
          <!--The box where you select what you want to compare-->
        <div>
          <label for="filter">Based on project:</label>
          <select id="filter" name="filter">
            <option value="main_category">Category</option>
            <option value="currency">Currency</option>
            <option value="country">Country</option>
            <option value="projectyear">Year</option>
          </select>
        <!--End of options-->
        </div>

        <br>

        <div class="button">
          <button type="submit">Create graph</button>
        </div>

        </form>




















        <div class="sectionHeader">
      	<h2>Design your own graphs!</h2>
      	<p>Click one of the sections below to get started.</p>
      	</div>
      	<div class="explore">
      		<ul id="side-nav">
      			<button class="side-tabs active" onclick="showSection(event, 'counts')">Counts</button>
      			<button class="side-tabs" onclick="showSection(event, 'proportion')">Proportion</button>
      			<button class="side-tabs" onclick="showSection(event, 'average')">Averages</button>
      		</ul>

      		<div class="subPage" id="counts">
            <p>Select an acpect of Kickstarter projects that you would like to view totals of.</p>
      				  <form action="/countgraph/" method="post">
      					<div>
                  <label for="comparecounts">Compare total counts of projects by:</label>
                  <select id="comparecounts" name="comparecounts">
                    <option value="main_category">Project Category</option>
                    <option value="currency">Currency</option>
                    <option value="country">Country</option>
                    <option value="projectyear">Year</option>
      			      </select>
      				  <!--End of form options-->
      			    </div>

                <br>

      					<button type="submit">Create Graph</button>
      				</form>
      		</div>

              <br>



          <div class="subPage" id="proportion">
      			<p>Choose an aspect of Kickstarter projects and see how it relates to its success rate.</p>
              <form action="/proportiongraph/" method="post">
                <!--The box where you select what you want to compare-->
                <div>
                  <label for="compareproportion">Compare how successful a project is based on its:</label>
                  <select id="compareproportion" name="compareproportion">
                    <option value="main_category">Project Category</option>
                    <option value="currency">Currency</option>
                    <option value="country">Country</option>
                    <option value="projectyear">Year</option>
                  </select>
      				  <!--End of form options-->
      			    </div>
      					<button type="submit">Create Graph</button>
      				</form>
      		</div>

        </div>
          <script>


          /** Based on a function made by w3schools.com
            * On the click of a tab, all page sections are cleared and the selected
            * section is "unhidden" and shown on the page
           **/
          function showSection(evnt, sectionName) {
            var i, pageContent, sections;
            pageContent = document.getElementsByClassName("subPage");
            for (i = 0; i < pageContent.length; i++) {
              pageContent[i].style.display = "none";
            }

            sections = document.getElementsByClassName("side-tabs");
            for (i = 0; i < sections.length; i++) {
              sections[i].className = sections[i].className.replace(" active", "");
            }

            document.getElementById(sectionName).style.display = "block";
            evnt.currentTarget.className += " active";
          }
          </script>

        </body>

</html>
