<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Analyze the Data</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "{{ url_for('static', filename='Analyze.css') }}" />
</head>

<body>
	<div class="header">

		<h1><a href="http://perlman.mathcs.carleton.edu:5222/">Will it Fund?</a></h1>
		<h3>Kickstarting Your Kickstarter</h3>

		<div class = "search-box">
			<input type = "text" class = "input" placeholder= "Search...">
			</div>

    <div class="tabs">
      <ul id="nav">
        <a href="http://perlman.mathcs.carleton.edu:5222/" id="current">Home</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/analyze/">Analyze the Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/create/">Create and Compare Your Kickstarter</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/explore/">Explore Curated Project Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/aboutpage/">About</a>
      </ul>
    </div>
		<!--menu-->
	</div>
	<!--header-->

	<h3>Analyze the Data</h3>
	<p>Compare Kickstarter data by using the drop down menus to generate a graph. In the current version, you can specify whether you want the graph to be organized as a histogram of total counts or as a stacked bar plot showing proportions, as well choose a category by which to sort the data.</p>


  <form action="/countgraph/" method="post">
    </div>
      <!--The box where you select what counts you want to compare-->
    <div>
      <label for="comparecounts">Compare total counts of projects by:</label>
      <select id="comparecounts" name="comparecounts">
        <option value="main_category">Project Category</option>
        <option value="currency">Currency</option>
        <option value="country">Country</option>
        <option value="year">Year</option>
      </select>
    <!--End of options-->
    </div>

    <br>

    <div class="button">
      <button type="submit">Create graph</button>
    </div>

    </form>

    <form action="/proportiongraph/" method="post">
      <!--The box where you select what you want to compare-->
      <div>
        <label for="compareproportion">Compare how successful projects are based on:</label>
        <select id="compareproportion" name="compareproportion">
          <option value="main_category">Project Category</option>
          <option value="currency">Currency</option>
          <option value="country">Country</option>
          <option value="year">Year</option>
        </select>
      <!--End of options-->
      </div>

      <br>

      <div class="button">
        <button type="submit">Create graph</button>
      </div>

      </form>

      <form action="/averagesgraph/" method="post">
        <!--The box where you select what you want to compare-->
        <div>
          <label for="averagecompare">Compare:</label>
          <select id="averagecompare" name="averagecompare">
            <option value="backers">Number of backers</option>
            <option value="usd_real_goal">Project Goal</option>
            <option value="usd_pledged_real">Amount pledged for the project</option>
            <option value="total_days">Days</option>
          </select>
        <!--End of options-->
        </div>
          <!--The box where you select what you want to compare-->
        <div>
          <label for="filter">Based on a project's:</label>
          <select id="filter" name="filter">
            <option value="main_category">Category</option>
            <option value="currency">Currency</option>
            <option value="country">Country</option>
            <option value="year">Year</option>
          </select>
        <!--End of options-->
        </div>

        <br>

        <div class="button">
          <button type="submit">Create graph</button>
        </div>

        </form>


	<div class="container">
  		<img src="graph.png" alt="Compare Major Categories by Proportion" width="10" height="30">
	</div>


</body>

</html>
