<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Will it Fund?|Home</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "{{ url_for('static', filename='Create.css') }}" />
</head>

<body>
	<div class="header">

		<h1>Will it Fund?</h1>
		<h3>Kickstarting Your Kickstarter</h3>

		<div class = "search-box">
			<input type = "text" class = "input" placeholder= "Search...">
			</div>

		<div class="tabs">
			<ul id="nav">
				<li><b><a href="http://perlman.mathcs.carleton.edu:5222/">Home</a></b></li>
        <li><a href="http://perlman.mathcs.carleton.edu:5222/analyze/">Analyze the Data</a></li>
				<li><a href="http://perlman.mathcs.carleton.edu:5222/create/">Create and Compare Your Kickstarter</a></li>
				<li><a href="homepage.html">Explore Curated Project Data</a></li>
        <li><a href="aboutpage.html">About</a></li>
			</ul>
		</div>
		<!--menu-->
	</div>
	<!--header-->

    <!--The form code-->
    <form action="/results" method="post">
    <!--The box where you select main_category-->
    <div>
      <label for="category">Category:</label>
      <select id="category" name="category">
		<option value="Arts">Arts</option>
        <option value="Comics">Comics</option>
        <option value="Crafts">Crafts</option>
        <option value="Dance">Dance</option>
        <option value="Design">Design</option>
		<option value="Fashion">Fashion</option>
		<option value="Film & Video">Film & Video</option>
		<option value="Food">Food</option>
		<option value="Games">Games</option>
		<option value="Journalism">Journalism</option>
		<option value="Music">Music</option>
		<option value="Photography">Photography</option>
		<option value="Publishing">Publishing</option>
		<option value="Technology">Technology</option>
		<option value="Theater">Theater</option>
      </select>
    </div>

    <br>

    <!--The box where you select main_category-->
    <div>
      <label for="currency">Currency:</label>
      <select id="currency" name="currency">
		<option value="AUD">AUD</option>
        <option value="CAD">CAD</option>
        <option value="CHF">CHF</option>
        <option value="DKK">DKK</option>
        <option value="EUR">EUR</option>
		<option value="GBP">GBP</option>
		<option value="HKD">HKD</option>
		<option value="JPY">JPY</option>
		<option value="MXN">MXN</option>
		<option value="NOK">NOK</option>
		<option value="NZD">NZD</option>
		<option value="SEK">SEK</option>
		<option value="SGD">SGD</option>
		<option value="USD">USD</option>
      </select>
    </div>

    <br>

    <div>
      <label for="goal">Cash goal:</label>
      <input type="number" id="goal" name="goal">
    </div>

    <br>
    <div class="button">
      <button type="submit">Submit your project</button>
    </div>

  </form>


</body>


</html>
