<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Will it Fund?|Create</title>
<link rel = "stylesheet" type = "text/css" href ="Explore.css" />
<script language="javascript"></script>
</head>

<body>
	<div class="header">

		<h1><a href="http://perlman.mathcs.carleton.edu:5222/">Will it Fund?</a></h1>
		<h3>Kickstarting Your Kickstarter</h3>

		<div class = "search-box">
			<input type = "text" class = "input" placeholder= "Search...">
			</div>

    <div class="tabs">
      <ul id="nav">
        <a href="http://perlman.mathcs.carleton.edu:5222/">Home</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/analyze/">Analyze the Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/create/">Create and Compare Your Kickstarter</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/explore/" id="current">Explore Curated Project Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/aboutpage/">About</a>
      </ul>
    </div>
		<!--menu-->
	</div>
	<!--header-->
	<div class="explore">
		<h1>Explore our data!</h1>
		<ul id="side-nav">
			<button class="side-tabs" onclick="showSection('random')">Random Project Generator</button>
			<button class="side-tabs" onclick="showSection('other')">Whatever tf else</button>
			<button class="side-tabs" onclick="showSection()">Anotha one</button>
			<button class="side-tabs" onclick="showSection()">Yeet</button>
		</ul>

		<div class="subPage" id="random">
			<p>Yes</p>
		</div>

		<div class="subPage" id="other">
			<p>Bruh</p>
		</div>
	</div>

	<script>
	function showSection(sectionName) {
		var i, pageContent, sections
		pageContent = document.getElementsByClassName("subPage");

	}
	</script>

</body>


</html>
