<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Will it Fund?|Explore</title>
<link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
<link rel = "stylesheet" type = "text/css" href ="{{ url_for('static', filename='Explore.css') }}" />
<script language="javascript"></script>
</head>

<body>
	<div class="header">

		<h1><a href="/">WILL IT FUND?</a></h1>
		<h3>Kickstarting Your Kickstarter</h3>

    <div class="tabs">
      <ul id="nav">
        <a href="/">Home</a>
        <a href="/analyze/">Analyze the Data</a>
        <a href="/create/">Create and Compare Your Kickstarter</a>
        <a href="/explore/" id="current">Explore Curated Project Data</a>
        <a href="/aboutpage/">About</a>
      </ul>
    </div>
		<!--menu-->
	</div>
	<!--header-->
	<div class="sectionHeader">
	<h2>Explore our data!</h2>
	<p>Check out a few of our unique features that manipulate the dataset in miscellaneous ways</p>
	</div>
	<div class="explore">
		<ul id="side-nav">
			<button class="side-tabs active" onclick="showSection(event, 'random')">Random Project Generator</button>
			<button class="side-tabs" onclick="showSection(event, 'minmax')">Whatever tf else</button>
			<button class="side-tabs" onclick="showSection(event, 'proportion')">Anotha one</button>
		</ul>

		<div class="subPage" id="random">
			<h1>Generate a Random Project</h1>
			<p>This is one of our favorites - simply click the button below and we will
				churn out a random Kickstarter project for you. It is obviously a very
				simple feature, but seeing the real variety of the Kickstarter projects
				out there is quite interesting.</p>
				<a href="/explore/random/">Generate Project</a>
		</div>

		<div class="subPage" id="minmax">
			<h1>Find the Min and Max</h1>
			<p>With this feature, you can choose a project category and subcategory,
				and we will return the projects with the highest and lowest cash value
				raised for those choices. Obviously most categories have more than one
			 	project that had raised $0, so in that case one will be chosen at random.</p>
				<form action="/explore/minmax/" method="post">
					<div>
			      <label for="category">Category:</label>
			      <select id="category" name="category">
			  		<option value="Arts">Arts</option>
			      <option value="Comics">Comics</option>
			      <option value="Crafts">Crafts</option>
			      <option value="Dance">Dance</option>
			      <option value="Design">Design</option>
			  		<option value="Fashion">Fashion</option>
			  		<option value="Film & Video">Film & Video</option>
			  		<option value="Food">Food</option>
			  		<option value="Games">Games</option>
			  		<option value="Journalism">Journalism</option>
			  		<option value="Music">Music</option>
			  		<option value="Photography">Photography</option>
			  		<option value="Publishing">Publishing</option>
			  		<option value="Technology">Technology</option>
			  		<option value="Theater">Theater</option>
			      </select>
				  <!--End of form options-->
			    </div>
					<button type="submit">Find Min and Max</button>
				</form>
		</div>

		<div class="subPage" id="proportion">
			<p>noo</p>
		</div>

	<script>
	/** Based on a function made by w3schools.com
		* On the click of a tab, all page sections are cleared and the selected
		* section is "unhidden" and shown on the page
	 **/
	function showSection(evnt, sectionName) {
		var i, pageContent, sections;
		pageContent = document.getElementsByClassName("subPage");
		for (i = 0; i < pageContent.length; i++) {
			pageContent[i].style.display = "none";
		}

		sections = document.getElementsByClassName("side-tabs");
		for (i = 0; i < sections.length; i++) {
			sections[i].className = sections[i].className.replace(" active", "");
		}

		document.getElementById(sectionName).style.display = "block";
		evnt.currentTarget.className += " active";
	}
	</script>

</body>


</html>
