<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Will it Fund?|Create</title>
<link rel = "stylesheet" type = "text/css" href ="Explore.css" />
<script language="javascript"></script>
</head>

<body>
	<div class="header">

		<h1><a href="http://perlman.mathcs.carleton.edu:5222/">Will it Fund?</a></h1>
		<h3>Kickstarting Your Kickstarter</h3>

		<div class = "search-box">
			<input type = "text" class = "input" placeholder= "Search...">
			</div>

    <div class="tabs">
      <ul id="nav">
        <a href="http://perlman.mathcs.carleton.edu:5222/">Home</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/analyze/">Analyze the Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/create/">Create and Compare Your Kickstarter</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/explore/" id="current">Explore Curated Project Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/aboutpage/">About</a>
      </ul>
    </div>
		<!--menu-->
	</div>
	<!--header-->
	<h2>Explore our data!</h2>
	<div class="explore">
		<ul id="side-nav">
			<button class="side-tabs active" onclick="showSection(event, 'random')">Random Project Generator</button>
			<button class="side-tabs" onclick="showSection(event, 'other')">Whatever tf else</button>
			<button class="side-tabs" onclick="showSection(event)">Anotha one</button>
			<button class="side-tabs" onclick="showSection(event)">Yeet</button>
		</ul>

		<div class="subPage" id="random">
			<p>RANDOMPROJECTGENERATOR lol</p>
		</div>

		<div class="subPage" id="other">
			<p>Bruh</p>
		</div>
	</div>

	<script>
  /** Based on a function made by w3schools.com
	 	* On the click of a tab, all page sections are cleared and the selected
	  * section is "unhidden" and shown on the page
	 **/
	function showSection(evnt, sectionName) {
		var i, pageContent, sections;
		pageContent = document.getElementsByClassName("subPage");
		for (i = 0; i < pageContent.length; i++) {
    	pageContent[i].style.display = "none";
		}

		sections = document.getElementsByClassName("side-tabs");
  	for (i = 0; i < sections.length; i++) {
    	sections[i].className = sections[i].className.replace(" active", "");
		}

		document.getElementById(sectionName).style.display = "block";
		evnt.currentTarget.className += " active";
	}
	</script>

</body>


</html>
