<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Will it Fund?|Home</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "{{ url_for('static', filename='Homepage.css') }}" />
</head>

<body>
	<!--Start of Header-->
	<div class="header">

		<h1><a href="http://perlman.mathcs.carleton.edu:5222/">Will it Fund?</a></h1>
		<h3>Kickstarting Your Kickstarter</h3>

		<div class = "search-box">
			<input type = "text" class = "input" placeholder= "Search...">
			</div>

      <div class="tabs">
  			<ul id="nav">
  				<a href="http://perlman.mathcs.carleton.edu:5222/" id="current">Home</a>
  				<a href="http://perlman.mathcs.carleton.edu:5222/analyze/">Analyze the Data</a>
  				<a href="http://perlman.mathcs.carleton.edu:5222/create/">Create and Compare Your Kickstarter</a>
  				<a href="http://perlman.mathcs.carleton.edu:5222/explore/">Explore Curated Project Data</a>
          <a href="http://perlman.mathcs.carleton.edu:5222/aboutpage/">About</a>
  			</ul>
  		</div>
		<!--End of tabs-->
	</div>
	<!--End of header-->


	<!--Placing the three main boxes of information-->
	<div class="row">
		<!--Start of Column 1: Analyze-->
		<a href="http://perlman.mathcs.carleton.edu:5222/analyze/" class="column" id="analyze">
			<h2><center>ANALYZE</center></h2>
    		<p>Explore data about real kickstarter projects -
          Projects range from Dance to Tech and span over 11 years
          in more than 20 countries</p>
		</a>
		<!--End of Column 1: Analyze-->

		<!--Start of Column 2: Create-->
		<a href="http://perlman.mathcs.carleton.edu:5222/create/" class="column" id="create">
    		<h2><center>CREATE</center></h2>
    		<p>See how likely your Kickstarter idea is to succeed:  enter
          information about your dream Kickstarter and compare your
          idea to current and past projects</p>
  		</a>
		<!--End of Column 2: Create-->

		<!--Start of Column 3: Explore-->
		<a href="http://perlman.mathcs.carleton.edu:5222/explore/" class="column" id="explore">
    		<h2><center>EXPLORE</center></h2>
        <p>Peruse some of the specifically curated project data our team
          has put together. Browse fun features like the random project
          generator</p>
  		</a>
		<!--End of Column 3-->
	</div>
	<!--End of Homepage information-->



</body>


</html>
