<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Will it Fund?|Home</title>
<link rel = "stylesheet"
   type = "text/css"
   href = "{{ url_for('static', filename='Homepage.css') }}" />
</head>

<body>
	<div class="header">

		<h1>Will it Fund?</h1>
		<h3>Kickstarting Your Kickstarter</h3>

		<div class = "search-box">
			<input type = "text" class = "input" placeholder= "Search...">
			</div>

		<div class="tabs">
			<ul id="nav">
				<li><b><a href="http://perlman.mathcs.carleton.edu:5222/">Home</a></b></li>
				<li><a href="http://perlman.mathcs.carleton.edu:5222/analyze/">Analyze the Data</a></li>
				<li><a href="http://perlman.mathcs.carleton.edu:5222/create/">Create and Compare Your Kickstarter</a></li>
				<li><a href="homepage.html">Explore Curated Project Data</a></li>
        <li><a href="aboutpage.html">About</a></li>
			</ul>
		</div>
		<!--menu-->
	</div>
	<!--header-->


	<!--Placing the three main boxes of information-->
	<div class="row">
		<div class="column">
			<h2><a href="analyze.html"><center>ANALYZE</center></a></h2>
    		<p>Explore data about real kickstarter projects -
          Projects range from Dance to Tech and span over 11 years
          in more than 20 countries</p>
		</div>

		<div class="column">
    		<h2><center>CREATE</center></h2>
    		<p>See how likely your Kickstarter idea is to succeed:  enter
          information about your dream Kickstarter and compare your
          idea to current and past projects</p>
  		</div>

		<div class="column">
    		<h2><center>EXPLORE</center></h2>
        <p>Peruse some of the specifically curated project data our team
          has put together. Browse fun features like the random project
          generator</p>
  		</div>
	</div>



</body>


</html>
