<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:300" rel="stylesheet">
  <title>Will it Fund?|Graph</title>
</head>
<body>
  <div class="header">

		<h1><a href="http://perlman.mathcs.carleton.edu:5222/">WILL IT FUND?</a></h1>
		<h3>Kickstarting Your Kickstarter</h3>

		<div class = "search-box">
			<input type = "text" class = "input" placeholder= "Search...">
			</div>

    <div class="tabs">
      <ul id="nav">
        <a href="http://perlman.mathcs.carleton.edu:5222/">Home</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/analyze/" id="current">Analyze the Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/create/">Create and Compare Your Kickstarter</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/explore/">Explore Curated Project Data</a>
        <a href="http://perlman.mathcs.carleton.edu:5222/aboutpage/">About</a>
      </ul>
      
    </div>
		<!--menu-->
	</div>
  <img src="{{ url_for('static', filename='plot.svg') }}" alt="User Graph">
</body>
</html>
