body{
	background-color: #ffffff;
	margin: 0;
}

.header{
	overflow: hidden;
	background-color: #d45555;
	line-height: 10px;
}

.header > h1{
	font-family: "trebuchet ms";
	font-size: 50px;
	color: #ffffff;
	padding-left: 15px;
}

.header > h3{
	font-family: "trebuchet ms";
	font-size: 25px;
	color: #ffffff;
	padding-left: 15px;
}

.search-box{
	position: absolute;
	top: 17px;
	right: 17px;
}

ul{
	list-style-type: none;
	margin: 5px;
	padding-left: 10px;
	overflow: hidden;
	font-size: 20px;
	background-color: #d45555;
	}

ul > li{
	display: inline-grid;
	padding: 15px 25px 15px 25px;
	margin-right: 10px
	float: left;
	border-radius: 10px;
	border-style: double;
	border-color: #cccccc;
	background-color: #ffffff;
	color: #2f3b78;
	}

  form{
		width: 550px;
 		height: 450px;
 		margin: 0 auto;
 		position: relative;
  	padding: 10px;
	}
	input {
	 width: 375px;
	 height: 25px;
	}

	label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

.button{
	padding-left: 90px;
}
