body{
	background-color: #ffffff;
	margin: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

.header{
	overflow: hidden;
	background-color: #d45555;
	line-height: 10px;
}

.header > h1{
	font-family: "trebuchet ms";
	font-size: 50px;
	color: #ffffff;
	padding-left: 15px;
}

.header > h3{
	font-family: "trebuchet ms";
	font-size: 25px;
	color: #ffffff;
	padding-left: 15px;
}

.search-box{
	position: absolute;
	top: 17px;
	right: 17px;
}

ul{
	list-style-type: none;
	margin: 0px;
	padding-left: 10px;
	overflow: hidden;
	font-size: 20px;
	background-color: #d45555;
}

ul > a{
	display: inline-grid;
	padding: 15px 25px 15px 25px;
	margin-right: 5px;
	float: left;
	border-radius: 10px;
	border-style: solid;
	border-color: #2f3b78;
	background-color: #ffffff;
	color: #2f3b78;
}

ul > a:hover{
	border-color: #ffffff;
	background-color: #2f3b78;
	color: #ffffff;
}

#current{
	display: inline-grid;
	padding: 15px 25px 15px 25px;
	margin-right: 5px;
	float: left;
	border-radius: 10px 10px 0 0;
	border-style: solid;
	border-color: #2f3b78 #2f3b78 #ffffff #2f3b78;
	background-color: #ffffff;
	color: #2f3b66;
}

#current:hover{
	border-color: #ffffff;
	background-color: #2f3b78;
	color: #ffffff;
}

.explore{
	display: flex;
}

.explore > h1{
	font-family: "trebuchet ms";
	font-size: 80px;
	color: #2f3b66;
	padding: 10px 0px 10px 300px;
	margin: 0;
	background-color: #eeeeee;
}

.explore > ul{
	width: 30%;
	margin: 0px;
	padding-left: 10px;
	background-color: #ffffff;
}

.side-tabs{
	float: left;
	height: 60px;
	width: 300px;
	border-radius: 0px;
	border-style: double;
	border-color: #cccccc;
	background-color: #eeeeee;
	text-align: right;
	color: #d45555;
	font-size: 22px;
	cursor: pointer;
}

.side-tabs:hover{
	background-color: #cccccc;
}

.side-tabs.active{
	background-color: #d45555;
	color: #ffffff;
}

.subPage{
	display: none;
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

#random{
	display: block;
}

.show{
	display: block;
	background-color: #ffffff;
}
