@charset "UTF-8";
/* CSS Document */

body{
	background-color: white;
	margin: 0;
}

.header{
	overflow: hidden;
	background-color: honeydew;
	line-height: 10px;
	padding-left: 5px;
}

.search-box{
	position: absolute;
	top: 17px;
	right: 17px;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0px;
	overflow: hidden;
	background-color: #dddddd;
	}

li{
	display: inline-block;
	padding: 10px;
	float: left;
	border-right: .1px solid #ffffff;
	}

li:hover{
	background-color: #d6b6ff;
	}


* {
  	box-sizing: border-box;
}

/* Create three equal columns that float next to each other */
.column {
	float: left;
	width: 33%;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	height: 400px;
	margin: 1px;
	background-color : #d45555;
	color: white;
	border-radius: 3px;
	border: #ff9d00;
	border-style: solid;
	border-color: #ffffff #ff9d00;
	transition: 0s background-color;
}

.column:hover{
	background: #FFFFFF;
	color: #540c87;
	transition: 0.5s;
	}

/* Clear floats after the columns */
.row:after {
  	content: "";
  	display: table;
 	clear: both;
}
